name: CI/CD Pipeline (push to GHCR)
#t
on:
  push:
    branches: ["main"]
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Generate model for tests
        run: python train_model.py

      - name: Run tests
        run: pytest -q

      - name: Log in to GitHub Container
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GI_TOKEN }}

      - name: Build Docker image
        env:
          IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/iris-streamlit:latest
        run: |
          docker build -t $IMAGE_NAME .

      - name: Push Docker image
        env:
          IMAGE_NAME: ghcr.io/${{ github.repository_owner }}/iris-streamlit:latest
        run: |
          docker push $IMAGE_NAME
